<div class="container">
    <h2>Il tuo carrello</h2>

    <app-orders-table [items]="cartSvc?.basket?.basketItems" tableClass="table-striped"></app-orders-table>

    <div class="row">
        <div class="col-3">
            <div class="form-group">
                <label for="deliveryRequestedDate">Orario di consegna: 
                    <strong>{{ time ? (time?.hour | number:'2.0-0') + ':' + (time?.minute |  number:'2.0-0') : '-' }}</strong>
                </label>
                <ngb-timepicker [(ngModel)]="time"></ngb-timepicker>
            </div>
            <div class="form-group">
                <label for="address">Indirizzo di consegna: </label>
                <address><strong>{{address}}</strong></address>
            </div>
        </div>
        <div class="col-9">
            <app-map
                [latitude]="lat"
                [longitude]="lng"
                [infoWindowMessage]="'La spedizione arriverà qui!'"
                (markerMoved)="updateAddress($event)">
            </app-map>
        </div>
    </div>

    <div class="row buttons">
        <div class="col">
            <button class="btn btn-info float-right" (click)="confirm()"
                [disabled]="!cartSvc?.basket?.basketItems?.length || !time">
                <i class="fa fa-money"></i> Conferma ordine
            </button>
        </div>
    </div>
</div>