<header>
  <nav class='navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3'>
    <div class="container">
      <a class="navbar-brand" [routerLink]='["/"]'>FoodOnKontainers</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse"
        aria-label="Toggle navigation" [attr.aria-expanded]="isExpanded" (click)="toggle()">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse" [ngClass]='{"show": isExpanded}'>
        <ul class="navbar-nav flex-grow">
          <li class="nav-item" [routerLinkActive]='["link-active"]' *ngIf="userSvc.user?.role === MANAGER">
            <a class="nav-link text-dark" [routerLink]='["/restaurant", userSvc.user?.restaurantId]'>Il mio ristorante</a>
          </li>
          <li class="nav-item" [routerLinkActive]='["link-active"]' *ngIf="userSvc.user?.role === USER">
            <a class="nav-link text-dark" [routerLink]='["/restaurants"]'>Ristoranti</a>
          </li>
          <li class="nav-item" [routerLinkActive]='["link-active"]' *ngIf="userSvc.user?.role === USER || userSvc.user?.role === MANAGER">
            <a class="nav-link text-dark" [routerLink]='["/orders"]'>Ordini</a>
          </li>
        </ul>
      </div>
      <form class="form-inline">
        <app-cart-widget *ngIf="userSvc.user?.role === USER"></app-cart-widget>
        <button class="btn btn-outline-secondary ml-1" (click)="userSvc.logout()" *ngIf="userSvc.logged">
          <i class="fa fa-sign-out"></i> Logout
        </button>
      </form>
    </div>
  </nav>
</header>